@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



canvas.mapboxgl-canvas {
  height: 450px !important;
  width: 98% !important;
  bottom: 40px;

  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  text-align: center;
}

.header-right-grid {
  text-align: right;
}

.MuiBox-root {
  margin: 10px;
}

.fourGridCls {
  margin-top: 0px !important;
}

header.MuiPaper-root {
  position: relative !important;
  background-color: #a4a6a6;
  margin-top: 8px;
  box-shadow: none;
}

.MuiToolbar-root {
  justify-content: center;
  min-height: 24px !important;
}

.fieldInformation {
  background-color: #a4a6a6;
  padding: 0 25px;
}

.cardContentCus {
  margin-top: 12px;
  height: 154px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: aliceblue;
}

.verticalGrid {
  height: 154px;
  margin-top: 12px;
  background-color: aliceblue;
  box-shadow: 1px .5;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.leftDiv h5 {
  margin: 0px;
  margin-top: 11px;
}

.leftDiv p {
  margin: 1px;
  font-size: 14px;
}

.leftDiv {
  padding-left: 5px;
}

.rightDiv {
  text-align: left;
  margin-top: 43px;
  margin-left: 50px;
}

.rightDiv p {
  margin: 1px;
  font-size: 14px;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  display: none;
}

.viwmainBox{
  margin: 0px !important;
    margin-right: 22px !important;
}

.headermainBox {
  margin-left: 16px !important;
  margin-right: 9px !important;
  margin-bottom: 0 !important;
}

@media (min-width: 900px) {
  .css-10mzr36-MuiGrid-root>.MuiGrid-item {
    padding-left: 12px;
  }
}

@media (min-width: 900px) {
  .cardContentCus .css-ppy3k8-MuiGrid-root {
    width: calc(100% + 8px);
    margin-left: -18px;
  }
}

/* @media (min-width: 900px) {
  .css-10mzr36-MuiGrid-root>.MuiGrid-item {
      padding-left: 0;
  }
} */